bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.YMsg/.idea/vcs.xml
.idea/.idea.YMsg/.idea/indexLayout.xml
.DS_Store
.idea/.idea.YMsg/.idea/misc.xml
.idea/.idea.YMsg/.idea/aws.xml
